@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

/* Variáveis para CSS. Estão recendo os valores das cores */
:root{
    --cor001: #F2915Cff; 
    --cor002: #237471ff;
    --cor003: #A5A486ff;
    --cor004: #004150ff;
    --cor005: #FC7436ff;
} 

/* tirando o margin e o padding padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* cabeçalho (padding preenche os elementos. 
ex: espaça as palavras que estão dentro de um botão de sua borda )*/
header{
    width: 100%;
    position: fixed;
    padding: 50px 5%;
    font-family: 'Acme', sans-serif;
    font-size: 16px;
    transition: 1s;
    top: 0;
    left: 0;
}

header.rolagem{
    background-color: var(--cor004);
    padding: 10px 5%;
}

.container-menu{
    max-width: 1080px;
    margin: auto;
}

.alinhar-elementos{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-left: 60px;
}

.logo{
    width: 60px;
    height: auto;
}

/* tag(está como classe) de navegação; justify-content: flex-start = navegação(posição) no inicio da pagina*/
.navg{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 50px 0px 10px ;
}

/* (> *) = selecionar todos os elementos filhos diretos (ex: tag a); 
padding = distancia o conteúdo da borda da caixa 
text-decoration  = tira o traço do link (a decoração)*/
.navg > *{
    margin-left: 270px;
    margin-right: 60px;
    text-decoration: none;
    padding: 15px;
    background-color: var(--cor002);
    color: #fff;
    transition: all .30s ease-out;
    border-radius: 20px;
    font-weight: bolder; /* espessura da letra */

}

/* :hover = pseudoclasse que aplica a estilização quando o cursor passar em cima do bloco estizado*/
.navg > *:hover{
    box-shadow: 1px 1px 6px #ffffffb6;
    background-color: var(--cor002);
    color: #fff;
    transition: .3s ease 0s, left .3s ease 0s;
} 

/* centralização do texto, cor do h1 e a borda*/
#h1index{
    text-align: center;
    color: var(--cor004);
    font-family: 'Acme', sans-serif;
    font-size: 4em;
    text-shadow: -45x 5px 7px #0000007a;
}

h1 span{
    color: var(--cor001);
}

/*centralização do h1 e do blockquote(específico para citação)*/
h2, blockquote{
    text-align: center;
}

blockquote{
    font-size: large;
}

p{
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
}

/*conteúdo principal 
height: 63.5vh = altura do conteúdo*/
main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;

    background-image: url("Imagens/fundo2.jpg");
    background-size: cover; /*n deixar nenhum espaço em branco/dar zoom até preencher todo o espaço*/
    background-repeat: no-repeat;
    background-position: center bottom;
}

/* aq ta ajustando a "largura" do texto em geral*/
section{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85vh;
}

.descricao{
    width: 600px;
    background-color: var(--cor004);
    padding: 80px;
    margin: 0 auto 0 auto;
    color: var(--cor003);
    border-radius: 15px;
}

/* ajuste de minimização*/
@media (max-width: 790px){
    .img{
        display: none;
    }
}

footer{
    text-align: center;
    padding: 20px;
    background-color: var(--cor005);
    color: white;
}

/*====================================CSS-FORMULARIOS====================================*/

.header-login{
    width: 100%;
    position: fixed;
    padding: 50px 5%;
    font-family: 'Acme', sans-serif;
    font-size: 16px;
    top: 0;
    left: 0;
}

.header-login{
    background-color: var(--cor004);
    padding: 15px 5%;
}

.container-header-login{
    max-width: 1080px;
    margin: 15px;
}

.alinhar-header-login{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-left: 60px;
}

.navg-login > *{
    margin-left: 20px;
    margin-right: 70px;
    text-decoration: none;
    padding: 15px;
    color: var(--cor005);
    transition: all .30s ease-out;
    border-radius: 7px;
    font-weight: bolder; /* espessura da letra */
    position: relative;
}

.link-linha::after{
    bottom: 0;
    left: 0;
    content: "";
    height: 2px;
    position: absolute; 
    background: var(--cor005);
    width: 0%;
    transition: .3s ease 0s, left .3s ease 0s;
}

.link-linha:hover::after{
    width: 100%;
}

.bodies{
    width: 100%;
    height: 100vh;
    align-items: center;
    display: flex;
    font-family: 'Acme', sans-serif;
    justify-content: center;
    background-image: url("Imagens/fundo2.jpg");
    background-size: cover;
    background-position: 70%;
    background-repeat: no-repeat;
}

.container{
    transform: translateY(10%);
    width: 500px;
    background: rgba(0, 65, 80, 0.479);
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}

.container .h1-form{
    font-size: 30px;
    text-align: center;
}

.container .caixa-input{
    position: relative;
    width: 420px;
    height: 40px;
    margin: 20px 0;
}

.caixa-input input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-family: 'Acme', sans-serif;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.caixa-input input::placeholder{
    color: #fff;
}

.caixa-input i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    cursor: pointer;
    color: #fff;
}

.container .div-btn-login{
    text-align: center;
}

.container .botao-login{
    width: 70%;
    height: 45px;
    background: #004150ff;
    border: none;
    font-family: 'Acme', sans-serif;
    border-radius: 40px;
    outline: none;
    box-shadow: 0 0 10px rgba(255, 255, 255, .1);
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 500;  
    transition: .3s ease 0s, left .3s ease 0s;
}

.container .botao-login:hover{
    box-shadow: 1px 3px 10px #ffffffb6;
    letter-spacing: 1px;
    transition: .3s ease 0s, left .3s ease 0s;
}

.div-btn-menu{
    text-align: center;
    margin-top: 30px;
}

.div-btn-menu .botao-menu{
    width: 150px;
    height: 30px;
    background: var(--cor005);
    border: none;
    font-family: 'Acme', sans-serif;
    border-radius: 40px;
    outline: none;
    box-shadow: 0 0 10px rgba(255, 255, 255, .1);
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 500;  
    transition: .3s ease 0s, left .3s ease 0s;
}

.oibibliotecario-menu{
    margin-top: 30px;
    width: 200px;
    text-align: center;
    transform: translateX(-10%);
}

.oibibliotecario-menu h2{
    color: #fff;

}

.labels input:focus-visible{
    outline: 2px solid var(--cor004);
}

.logo-login{
    width: 50px;
    height: 20px;
    transform: translate(700%, -50px);
}

.logo-login .logo{
    width: 60px;
    height: auto;
}

/*botao da senha*/
div i{
    position: absolute;
    top: 50%;
    right: 320px;
    transform: translateY(-43px);
    height: 22px;
    width: 20px;
    cursor: pointer;
    background-size:cover;
    color: var(--cor003);
}


/*--------------------------------------------*/
.select{
    font-family: 'Acme', sans-serif;
    background: rgba(0, 65, 80, 0.877);
    border-radius: 7px;
    padding: 5px;
    cursor: pointer;
    border: 2px solid rgba(255, 255, 255, .2);
    font-size: 16px;
    outline: none;
    color: #fff;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .512);
}

.select:focus-visible{
    border: 2px solid #ccc;
}

/*====================================CSS-INDEX-LEITOR====================================*/

.header-leibiblio {
    background-color: var(--cor002);
    padding: 20px 20px 10px 20px;

}

.h1-leibiblio{
    text-align: center;
    color: var(--cor004);
    border:20px inset var(--cor003);
        font-family: 'Acme', sans-serif;
}

.main-leibiblio{
    display: flex;
    align-items: center;
    height: 77.9vh;
    padding: 30px;
    background-image: url("Imagens/fundocss.jpg");
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center 50%;
}

.container-leibiblio{
    width: 50%;
    height: 90vh;
    display: flex;
    margin: 0 auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .512);
    background-color: var(--cor004);
    align-items: center;
    flex-direction: column;
}

.h2-leibiblio{
    margin: 0 auto;
    color: var(--cor003);
    font-family: 'Acme', sans-serif;
    margin-top: 100px;
    margin-bottom: 40px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.botoes-leibiblio{
    margin-top: 30px;
    color: var(--cor004);
    font-family: 'Acme', sans-serif;
    font-size: 15px;
    background-color: var(--cor003);
    border: none;
    border-radius: 7px;
    padding: 5px 10px 5px 10px;
    transition: all .30s ease-out;
}

.botoes-leibiblio:hover{
    background-color: var(--cor002);
    color: var(--cor004);
    letter-spacing: 3px;
    cursor: pointer;
}


/*====================================CSS-INDEX-BIBLIOTECÁRIO====================================*/

/*LEMBRAR DE AJEITAR HEADER */

.body-menu{
    width: 100%;
    height: 100vh;
    align-items: center;
    display: flex;
    font-family: 'Acme', sans-serif;
    justify-content: center;
    background-image: url("Imagens/fundo2.jpg");
    background-size: cover;
    background-position: 70%;
    background-repeat: no-repeat;
}

/* menu por inteiro*/
.container-bibliotecario{
    height: 410px;
    background: var(--cor004);
    width: 550px;
    border-radius: 30px;
}

.logo-menu{
    height: 50px;
    width: 20px;
    transform: translate(-250px, -130px);
}

.lg{
    height: 150px;
    width: 150px;
}

/*barra lateral*/
.navegacao-menu{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    position: relative;
    height: 410px;
    width: 80px;
    background: var(--cor005);
    box-shadow: 10px 0 0 var(--cor004);
    border-left: 10px solid var(--cor005);
    overflow: hidden; /*comentar*/
    transition: 0.7s;
}

.navegacao-menu:hover{
    width: 200px;
}

.navegacao-menu ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 5px;
    padding-top: 40px;
}

.navegacao-menu ul li{
    position: relative;
    display: flex;
    list-style: none;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.navegacao-menu ul li a{
    position: relative;
    display: flex;
    width: 100%;
    text-decoration: none;
    color: #fff;
}

.navegacao-menu ul li a .icons-menu{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    text-align: center;
    line-height: 70px;
}

.navegacao-menu ul li a .icons-menu ion-icon{
    position: relative;
    font-size: 1.5rem;
    z-index: 1;
}

.navegacao-menu ul li a .icons-menu i{
    position: relative;
    font-size: 1.5rem;
    z-index: 1;
}

.navegacao-menu ul li a .titulos{
    position: relative;
    display: block;
    padding-left: 10px;
    height: 60px;
    line-height: 60px;
    white-space: nowrap;
}

.navegacao-menu ul li.active{
    background: var(--cor004);
}

.navegacao-menu ul li.active a::before{
    content: '';
    position: absolute;
    top: -30px;
    right: 0;
    width: 30px;
    height: 30px;
    background: var(--cor005);
    border-radius: 50%;
    box-shadow: 15px 15px 0 var(--cor004);
}

.navegacao-menu ul li.active a::after{
    content: '';
    position: absolute;
    bottom: -30px;
    right: 0;
    width: 30px;
    height: 30px;
    background: var(--cor005);
    border-radius: 50%;
    box-shadow: 15px -15px 0 var(--cor004);
}

/*====================================CSS-MENSAGENS====================================*/
.container-mserro{
    background: rgba(0, 65, 80, 0.479);
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px; 
    text-align: center;
}

.h1-erro{
    padding: 10px 60px;
}

.div-btn-erro{
    text-align: center;
    margin-top: 30px;
}

.div-btn-erro .botao-erro{
    width: 150px;
    height: 30px;
    background: var(--cor004);
    border: none;
    font-family: 'Acme', sans-serif;
    border-radius: 40px;
    outline: none;
    box-shadow: 0 0 10px rgba(255, 255, 255, .1);
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 500;  
    transition: .3s ease 0s, left .3s ease 0s;
}

.div-btn-erro .botao-erro:hover{
    box-shadow: 1px 3px 10px #ffffffb6;
    letter-spacing: 1px;
    transition: .3s ease 0s, left .3s ease 0s;
}
/*----------------------------------------------*/

.icon-erro{
    position: relative;
    display: block;
    min-width: 100px;
    height: 100px;
    text-align: center;
    line-height: 70px;
}

.icon-erro ion-icon{
    color: var(--cor001);
    position: relative;
    font-size: 100px;
    z-index: 1;
}

/*====================================CSS-TABELAS====================================*/

.container-tabela{
    width: 50%;
    height: 80vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .512);
    background-color: var(--cor003);
    align-items: center;
    flex-direction: column;
}

table, th,td{
    color: var(--cor004);
    margin-top: 20px;
    border: 2px solid var(--cor004);
    border-collapse: collapse;
    background: var(--cor002);
    padding: 10px;
}

th{
    font-family: 'Acme', sans-serif;
}

.h1listas{
    margin-top: 60px;
    color: var(--cor004);
    font-family: 'Acme', sans-serif;
}
/*====================================CSS-MENSAGEM-DE-ERR0====================================*/

.mensagem-erro {
    color: white;
}
